In [4]:
# Chapter 6 Exercise
# Question 2
import pandas as pd
a = pd.DataFrame({'A' : [1,2,3], 
                  'B' : [4,5,6],
                  'C' : [7,8,9]})
a

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [8]:
# Question 3
import pandas as pd
a = pd.DataFrame({'지역' : ['서울', '서울', '서울', '경기', '부산', '울산'],
                  '학년' : [1, 1, 3, 4, 2, 2],
                  '평점' : [5, 4, 3, 4, 2 ,5]})
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      6 non-null      object
 1   학년      6 non-null      int64
 2   평점      6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

In [12]:
# Question 4
import pandas as pd
a = pd.DataFrame({'지역' : ['서울', '부산', '대전', '서울', '대전', '서울'],
                  '학년' : [1, 1, 2, 2, 3, 3],
                  '평점' : [45, 42, 39, 40, 30, 35]})
a.groupby('학년')['평점'].mean()

학년
1    43.5
2    39.5
3    32.5
Name: 평점, dtype: float64

In [22]:
# Question 5
import pandas as pd
a = pd.read_excel('data.xlsx')
a.value_counts('반')

반
A반    5
B반    5
Name: count, dtype: int64

In [72]:
# Question 6
import pandas as pd
a = pd.read_excel("data.xlsx")
b = a.fillna({'국어' : 0}).fillna({'수학' : 0}).fillna({'응시여부' : 'No'}).fillna({'확인여부' : 'No'})
b

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
1  B반  김이정  여  78.0   45.0   응시   확인
2  A반  오지수  남   0.0    0.0   응시   확인
3  B반  김선후  남  33.0   44.0   응시   No
4  A반  하진희  여   0.0   85.0   응시   No
5  A반  강현진  남   0.0    0.0   No   No
6  B반  김진솔  남  90.0   89.0   응시   확인
7  B반  박서준  여  78.0   45.0   응시   확인
8  A반  김성희  남   0.0    0.0   No   확인
9  B반  이지서  여  86.0  100.0   응시   확인

In [74]:
# Question 6
import pandas as pd
a = pd.read_excel("data.xlsx")
b = a.fillna({'국어': 0, '수학': 0, '응시여부': 'No', '확인여부': 'No'})
b

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
1  B반  김이정  여  78.0   45.0   응시   확인
2  A반  오지수  남   0.0    0.0   응시   확인
3  B반  김선후  남  33.0   44.0   응시   No
4  A반  하진희  여   0.0   85.0   응시   No
5  A반  강현진  남   0.0    0.0   No   No
6  B반  김진솔  남  90.0   89.0   응시   확인
7  B반  박서준  여  78.0   45.0   응시   확인
8  A반  김성희  남   0.0    0.0   No   확인
9  B반  이지서  여  86.0  100.0   응시   확인