In [12]:
# Chapter 4 Quiz
# Quiz 1
print ("-" * 25, "Quiz 1", "-" *25)
m = ["닥터 스트레인지", "스플릿", "럭키"]
print (m)

# Quiz 2
print ("-" * 25, "Quiz 2", "-" *25)
m.append("배트맨")
print (m)

# Quiz 3
print ("-" * 25, "Quiz 3", "-" *25)
m.insert(1, "슈퍼맨")
print (m)

# Quiz 4
print ("-" * 25, "Quiz 4", "-" *25)
m.remove("럭키")
print (m)

# Quiz 5
print ("-" * 25, "Quiz 5", "-" *25)
m.remove("스플릿")
m.pop(-1)
print (m)

------------------------- Quiz 1 -------------------------
['닥터 스트레인지', '스플릿', '럭키']
------------------------- Quiz 2 -------------------------
['닥터 스트레인지', '스플릿', '럭키', '배트맨']
------------------------- Quiz 3 -------------------------
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
------------------------- Quiz 4 -------------------------
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
------------------------- Quiz 5 -------------------------
['닥터 스트레인지', '슈퍼맨']

In [14]:
# Quiz 6
n = [80, 72, 53, 25, 68]
sum = sum(n)
avg = sum / len(n)
max = max(n)
min = min(n)
print ("합계 :", sum)
print ("평균 :", avg)
print ("최대값 :", max)
print ("최소값 :", min)

합계 : 298
평균 : 59.6
최대값 : 80
최소값 : 25

In [74]:
# Quiz 7
price = ['20180728', 100, 130, 140, 150, 160, 170]
print (price[1::])
for i in price[1::]:
    print (i)

[100, 130, 140, 150, 160, 170]
100
130
140
150
160
170

In [18]:
# Quiz 8
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print (type(movie_rank), movie_rank)

<class 'tuple'> ('닥터 스트레인지', '스플릿', '럭키')

In [32]:
# Quiz 9
t = (1, 2, 3)
# t[0] = 'a' # Tuple can't change

In [40]:
# Quiz 10
print ("-" * 25, "Quiz 10", "-" *25)
i = { '메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print (i)

# Quiz 11
print ("-" * 25, "Quiz 11", "-" *25)
# i = i + {'죠스바': 1200, '월드콘': 1500}
i['죠스바'] = 1200
i['월드콘'] = 1500
print (i)

# Quiz 12
print ("-" * 25, "Quiz 12", "-" *25)
print(i['메로나'])

# Quiz 13
print ("-" * 25, "Quiz 13", "-" *25)
i['메로나'] = 1300
print (i)

------------------------- Quiz 10 -------------------------
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
------------------------- Quiz 11 -------------------------
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
------------------------- Quiz 12 -------------------------
1000
------------------------- Quiz 13 -------------------------
{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [72]:
# Quiz 14
print ("-" * 25, "Quiz 14", "-" *25)
inventory = {'메로나':[300, 20], '비비빅': [400, 3], '죠스바':[250, 100]}
print (inventory)

# Quiz 15
print ("-" * 25, "Quiz 15", "-" *25)
print ("메로나 가격 : %d 원" %inventory['메로나'][0])

# Quiz 16
print ("-" * 25, "Quiz 16", "-" *25)
print ("메로나 재고 : %d 개" %inventory['메로나'][1])

# Quiz 17
print ("-" * 25, "Quiz 17", "-" *25)
inventory['월드콘'] = [500, 7]
print (inventory)

# Quiz 18
print ("-" * 25, "Quiz 18", "-" *25)
inventory_keys = inventory.keys()
print (type(inventory_keys), inventory_keys)
keys_list = []
for i in inventory_keys:
    keys_list.append(i)
print (type(keys_list), keys_list)

# Quiz 19
print ("-" * 25, "Quiz 19", "-" *25)
inventory_values = inventory.values()
print (type(inventory_values), inventory_values)
values_list = []
for i in inventory_values:
    values_list.append(i)
print (type(values_list), values_list)


# Quiz 20
print ("-" * 25, "Quiz 20", "-" *25)
sumPrice = 0
for i in inventory:
    sumPrice += inventory[i][0]
print ("판매금액 총합 :", sumPrice)

------------------------- Quiz 14 -------------------------
{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
------------------------- Quiz 15 -------------------------
메로나 가격 : 300 원
------------------------- Quiz 16 -------------------------
메로나 재고 : 20 개
------------------------- Quiz 17 -------------------------
{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}
------------------------- Quiz 18 -------------------------
<class 'dict_keys'> dict_keys(['메로나', '비비빅', '죠스바', '월드콘'])
<class 'list'> ['메로나', '비비빅', '죠스바', '월드콘']
------------------------- Quiz 19 -------------------------
<class 'dict_values'> dict_values([[300, 20], [400, 3], [250, 100], [500, 7]])
<class 'list'> [[300, 20], [400, 3], [250, 100], [500, 7]]
------------------------- Quiz 20 -------------------------
판매금액 총합 : 1450