In [25]:
# Chapter 9 Exercise
# Question 1
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
df = sb.load_dataset('titanic')
df.groupby(['sex', 'alive'])['sex'].count()

sex     alive
female  no        81
        yes      233
male    no       468
        yes      109
Name: sex, dtype: int64